.Clock {
  width: 30vw;
  height: 30vw;
  position: relative;
  background: #D8DBE2;
  border-radius: 50%;

  &-longhand {
    height: 12vw;
    width: 1vw;
    position: absolute;
    border-radius: 50%;
    top: 3vw;
    left: (15vw - 0.5vw);
    background: #373F51;
  }
  &-shorthand {
    height: 7vw;
    width: 1.1vw;
    position: absolute;
    border-radius: 50%;
    top: 8vw;
    left: (15vw - 0.55vw);
    background: #373F51;
  }
  &-secondhand {
    height: 13vw;
    width: 0.2vw;
    position: absolute;
    top: 2vw;
    left: (15vw - 0.1vw);
    background: #58A4B0;
    // background: #A9BCD0;
  }
}
