@import './Math.scss';

.Clock {
  width: 30vw;
  height: 30vw;
  position: relative;
  background: #D8DBE2;
  border-radius: 50%;
  @for $i from 1 through 12 {
    &__#{$i} {
      $sdeg : sin((360deg / 12 * $i) - 90deg);
      $cdeg : cos((360deg / 12 * $i) - 90deg);
      position: absolute;
      top: calc(#{$sdeg} * 14vw + 14vw);
      left: calc(#{$cdeg} * 14vw + 14.5vw);
      content: '';
      transform: rotate( 360deg / 12 * $i);
      color: #888;
    }
  }
  &__center {
    width: 4px;
    height: 4px;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    content: '';
    border-radius: 50px;
    background-color: #222;
  }
  &-longhand {
    height: 12vw;
    width: 1vw;
    position: absolute;
    border-radius: 50%;
    top: 3vw;
    left: (15vw - 0.5vw);
    background: #373F51;
  }
  &-shorthand {
    height: 10vw;
    width: 1.1vw;
    position: absolute;
    border-radius: 50%;
    top: 5vw;
    left: (15vw - 0.55vw);
    background: #373F51;
  }
  &-secondhand {
    height: 13vw;
    width: 0.2vw;
    position: absolute;
    top: 2vw;
    left: (15vw - 0.1vw);
    background: #58A4B0;
    // background: #A9BCD0;
  }
}
