.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    font-size: 1em;
    margin-right: 0.5em;
  }
  input {
    font-size: 1em;
  }
  input[type="submit"] {
    font-size: 0.8em;
    margin: 0.3em;
    cursor: pointer;
    padding: 0.3em 0.6em;
    box-sizing: border-box;
    border-style:none;
    border-radius: 10%;
    background: #A9BCD0;
  }
}
