@import '../scss/Math.scss';

.Clock {
  width: 30vw;
  height: 30vw;
  position: relative;
  background: #D8DBE2;
  border-radius: 50%;
  cursor: pointer;
  @for $i from 1 through 12 {
    &__#{$i} {
      $sdeg : sin((360deg / 12 * $i) - 90deg);
      $cdeg : cos((360deg / 12 * $i) - 90deg);
      position: absolute;
      top: calc(#{$sdeg} * 13vw + 15vw - 0.5em);
      left: calc(#{$cdeg} * 13vw + 15vw - 0.5em);
      content: '';
      transform: rotate( 360deg / 12 * $i);
      color: #888;
      font-size: 0.5em;
    }
  }
  &__minutehand {
    height: 12vw;
    width: 1vw;
    position: absolute;
    top: 3vw;
    left: (15vw - 0.5vw);
    background: #373F51;
    transform-origin: center bottom;
  }
  &__hourhand {
    height: 9vw;
    width: 1vw;
    position: absolute;
    top: 6vw;
    left: (15vw - 0.5vw);
    background: #373F51;
    transform-origin: center bottom;
  }
  &__hourhand, &__minutehand {
    &-center {
      width: 1.5vw;
      height: 1.5vw;
      position: absolute;
      border-radius: 50%;
      top: 14.25vw;
      left: 14.25vw;
      background: #373F51;
    }
  }
  &__secondhand {
    height: 14vw;
    width: 0.2vw;
    position: absolute;
    top: 2vw;
    left: (15vw - 0.1vw);
    background: #58A4B0;
    // background: #A9BCD0;
    transform-origin: center 13vw;
    &-center {
      width: 1vw;
      height: 1vw;
      position: absolute;
      border-radius: 50%;
      top: 14.5vw;
      left: 14.5vw;
      background: #58A4B0;
    }
  }
}
